version: '3'

networks:
  # frontend:
  #   driver: bridge
  backend:
    driver: bridge

services:
  # php:
  #   build:
  #       context: ./php
  #   volumes:
  #     - ../work/:/var/www
  #     - ../gzp233/:/var/gzp233
  #     - ./php/php7.4.ini:/usr/local/etc/php/php.ini
  #   expose:
  #     - "9000"
  #   extra_hosts:
  #     - "dockerhost:10.0.75.1"
  #   networks:
  #     - backend

  # nginx:
  #     build:
  #       context: ./nginx
  #     volumes:
  #       - ../work/:/var/www:cached
  #       - ../gzp233/:/var/gzp233:cached
  #       - ./logs/nginx/:/var/log/nginx
  #       - ./nginx/sites/:/etc/nginx/sites-available
  #       - ./nginx/ssl/:/etc/nginx/ssl
  #     ports:
  #       - "80:80"
  #       - "443:443"
  #     depends_on:
  #     - php
  #     networks:
  #       - frontend
  #       - backend

  mysql:
      build:
        context: ./mysql
        args:
          - MYSQL_VERSION=5.7
      environment:
        - MYSQL_DATABASE=
        - MYSQL_USER=
        - MYSQL_PASSWORD=
        - MYSQL_ROOT_PASSWORD=root
      volumes:
        - ./data/mysql:/var/lib/mysql
      ports:
        - "3306:3306"
      networks:
        - backend

  mysql8:
    build:
      context: ./mysql8
      args:
        - MYSQL_VERSION=latest
    environment:
      - MYSQL_DATABASE=
      - MYSQL_USER=
      - MYSQL_PASSWORD=
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - ./data/mysql8:/var/lib/mysql
    ports:
      - "3307:3307"
    networks:
      - backend

  redis:
      build: ./redis
      volumes:
        - ./data/redis:/data
      ports:
        - "6379:6379"
      networks:
        - backend

  # clickhouse:
  #     build: ./clickhouse
  #     volumes:
  #       - ./data/clickhouse:/var/lib/clickhouse
  #       - ./clickhouse/config.xml:/etc/clickhouse-server/config.xml
  #       - ./clickhouse/users.xml:/etc/clickhouse-server/users.xml
  #       - ./log/clickhouse-server.log:/var/log/clickhouse-server/clickhouse-server.log
  #       - ./log/clickhouse-server.err.log:/var/log/clickhouse-server/clickhouse-server.err.log
  #     ports:
  #       - "8123:8123"
  #       - "9000:9000"
  #       - "9004:9004"
  #     networks:
  #       - backend